.Nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(220, 78%, 11%, 0.8);
  color: aliceblue;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.Nav .inner, .Footer .inner {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.Nav .inner .logo {
  height: 100%;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.Nav .inner .logo i {
  margin-right: 10px;
  font-size: 2rem;
}

.Nav .inner .logo a {
  text-decoration: none;
  padding-right: 5px;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
}

.Nav .inner .logo mark {
  background-color: transparent;
  color: hsl(211, 42%, 68%);
  padding-left: 5px;
}

.Nav .inner .menu {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Nav .inner .menu i {
  transform: rotate(180deg);
  font-size: 2rem;
}

.Nav .inner .menu:hover {
  color: hsl(344, 100%, 63%);
}

.App {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(221, 76%, 11%);
  overflow: hidden;
}

.App .inner-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  height: 100%;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'image content' 'description description';

  grid-gap: 50px 30px;
  padding: 130px 0 70px 0;
}

.App .inner-wrapper figure {
  grid-area: image;
  margin: 0;
  padding: 0;
  display: block;
}

.App .inner-wrapper figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(252, 249, 242, 0.3);
}

.App .inner-wrapper section {
  grid-area: description;
}

.genre {
  color: hsla(210, 100%, 97%, 0.9);
  display: block;
  margin-bottom: 0.5rem;
}

.ratings {
  display: inline-flex;
  align-items: center;
  height: 30px;
  color: hsl(46, 100%, 50%);
}

.App .inner-wrapper article {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-template-rows: 1fr 60px;
}

.App .inner-wrapper article .info {
  color: hsla(210, 100%, 97%, 0.7);
}

.App .inner-wrapper article .info table {
  width: 100%;
  max-width: 650px;
  padding: 10px 0;
  font-size: 0.9rem;
}

.App .inner-wrapper article .info td {
  vertical-align: top;
  padding-bottom: 10px;
  padding-right: 10px;
}

.App .inner-wrapper article .actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.App .inner-wrapper article .actions button {
  margin-left: 20px;
}

.App .inner-wrapper section {
  border-top: solid 2px hsla(210, 100%, 97%, 0.2);
  padding-top: 30px;
}


.Footer {
  height: 50px;
  color: hsla(210, 100%, 97%, 0.9);
  line-height: 50px;
  text-align: center;
}

.Footer .inner {
  display: block;
}