.Nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(220, 78%, 11%, 0.8);
  color: aliceblue;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.Nav .inner,
.Footer .inner {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.Nav .inner .logo {
  height: 100%;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.Nav .inner .logo i {
  margin-right: 10px;
  font-size: 2rem;
}

.Nav .inner .logo a {
  text-decoration: none;
  padding-right: 5px;
  line-height: 60px;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
}

.Nav .inner .logo mark {
  background-color: transparent;
  color: hsl(211, 42%, 68%);
  padding-left: 5px;
}

.Nav .inner .menu {
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Nav .inner .menu i {
  transform: rotate(180deg);
  font-size: 2rem;
}

.Nav .inner .menu:hover {
  color: hsl(344, 100%, 63%);
}

main.main-wrapper {
}

.Footer {
  height: 50px;
  color: hsla(210, 100%, 97%, 0.9);
  line-height: 50px;
  text-align: center;
  background-color: hsl(221, 76%, 11%);
}

.Footer .inner {
  display: block;
}
