body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(221, 76%, 11%);
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: hsl(208, 100%, 97%);
}

h1 {
  font-size: 3rem;
  line-height: 0.8;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
